/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of reset*/
body {
    background-color: LightGray;
}
div {
    border: 1px solid Chocolate;
}
/*Navigation Bar Settings*/
.top-navigation {
	  background-color: #fff;

}
.top-navigation > .content {
	padding: 0px 15px;
	height: 70px;
	margin: 0 auto;
	width: 970px;
	
	}
.top-navigation .links {
	float: right;
	font-family: 'Roboto', sans-serif; 
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em;
	margin-top: 1.5em;


}
.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
	
}
.top-navigation .links > .active {
	  color: #4c5058;
    font-weight: 600;
}
.top-navigation .links li:hover {
	cursor: pointer;
    color: #333333;
}
/*End of Nav Bar*/
/*Introduction Section settings*/
.introduction {
	background-image: url('../img/first-background.jpg');
background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 735px;
    overflow: auto;
	
}
.introduction .content {
	font-family: 'Roboto', sans-serif; 
	font-size: 16px; 
	color: white; 
	letter-spacing: 0.03em;
	margin-top: 7em;
}
h1, h3 {
	text-align: center;
	font-size: 30px;
	padding: 1em;
}
.half-learn, .half-watch {
	display: inline-block;

}
.half-watch {
	font-family: 'Roboto', sans-serif; 
	font-size: 25px; 
	color: white; 
	letter-spacing: 0.03em;
	margin: 2em;
}
.buttons {
	text-align: center;
	margin-top: 7em;
}
.half-learn {
	border-radius: 10px;
  background: #BADA55;

}
/*End of Intro section*/
/*Start of cases section*/
h2 {
	font-family: 'Roboto', sans-serif; 
	font-size: 25px; 
	color: black; 
	letter-spacing: 0.03em;
	margin: 2em;
	text-align: center;
	margin-top: 5em;
}
.devices {
	display: inline-block;
	margin-left: 8em;
	margin-right: 8em;
	margin-top: 3em;

}
h4, .notes {
	font-family: 'Roboto', sans-serif; 
	font-size: 15px; 
	color: black; 
	letter-spacing: 0.03em;
	text-align: center;
	margin: 1em;
}
h4 {
	font-weight: bolder;
}

